<template>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Published</th>

                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>


            <admin-blogpost-component
                    v-for="(blogpost, index) in blogposts"
                    :key="blogpost.id"
                    :blogpost="blogpost"
                    @delete="deleteBlogPost(index)"
                    @edit="editBlogPost(index)"

            >

            </admin-blogpost-component>



            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <vue-pagination  :pagination="posts"
                                 @paginate="loadBlogPosts()"
                                 :offset="1">
                </vue-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                blogposts: [

                ],
                posts: {
                    total: 1,
                    per_page: 11,
                    from: 1,
                    to: 1,
                    current_page: 1
                },
                offset: 1,

            }
        },

        methods: {
              deleteBlogPost(index){
                  axios.delete('/blogposts/'+this.blogposts[index]._id).then((response)=>console.log(response));
                  //this.blogposts.splice(index,1);
                  this.loadBlogPosts();
              },
            editBlogPost(index){

                axios.get('/blogposts/'+this.blogposts[index]._id).then((response)=>{
                    this.$root.$emit('loadBlogPost',response);
                });
            },
            loadBlogPosts(){
                axios.get('/blogposts?page='+this.posts.current_page).then((response)=>{
                    this.blogposts = response.data.data;
                    this.posts.current_page = response.data.current_page;
                    this.posts.total = response.data.total;
                    this.posts.per_page = response.data.per_page;
                    this.posts.from = response.data.from;
                    this.posts.to = response.data.to;


                });
            },


            initStuff()
            {
                this.$root.$on('addBlogPost', (blogpost) => { // here you need to use the arrow function
                    axios.post('/blogposts',blogpost).then((response)=>this.loadBlogPosts());
                });

                this.$root.$on('updateBlogPost', (blogpost) => { // here you need to use the arrow function
                    axios.patch('/blogposts/'+blogpost.id,blogpost).then((response)=>this.loadBlogPosts());
                });
            }

        },

        mounted: function () {
            this.initStuff();
            this.loadBlogPosts();

        }
    }
</script>
