<template>
    <tr>
        <td>{{blogpost.id}}</td>
        <td>{{blogpost.title}}</td>
        <td>{{blogpost.published}}</td>
        <td><button class="btn btn-warning" type="button"  v-b-modal.modalxl v-b-modal.modal1 v-on:click="onClickEditBlogPost()">Edit</button></td>
        <td><button class="btn btn-danger" type="button" v-on:click="onClickDeleteBlogPost()">Delete</button></td>
    </tr>
</template>

<script>
    export default {
        props: ['blogpost'],
        data(){
            return {

            };
        },
        methods: {
            onClickDeleteBlogPost(){
                this.$emit('delete')
            },
            onClickEditBlogPost()
            {
                this.$emit('edit')
            }


        },

        mounted() {

        }
    }
</script>
