<template>
    <div>

        <!-- Modal Component -->
        <b-modal id="modal1" size="xl" title="Blog Post" @ok="handleOk()" @cancel="clearForm()" @hide="clearForm()">
            <form @submit.stop.prevent="handleSubmit">
                <div class="row">
                    <div class="col-md-12 col-lg-12"></div>
                    <div class="form-group col-md-12">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" v-model="title">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12"></div>
                    <div class="form-group col-md-12">
                        <label for="intro">Intro:</label>
                        <input type="text" class="form-control" id="intro" name="intro" v-model="intro">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12"></div>
                    <div class="form-group col-md-12">
                        <label for="content">Content:</label>
                        <froala :tag="'textarea'" :config="config" v-model="content"></froala>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12"></div>
                    <div class="form-group col-md-12">
                        <label for="published">Published:</label>
                        <input type="checkbox" class="form-control" id="published" name="published" v-model="published">
                    </div>
                </div>
            </form>
        </b-modal>


    </div>
</template>

<script>
    export default {
        data(){
            return {
                id: 0,
                title: '',
                intro: '',
                published: false,
                content: ' ',
                config: {
                    placeholderText: 'Edit Your Content Here!',
                    charCounterCount: true,

                    imageUpload: false,

                },
                action:'store'

            }

        },

        methods: {
            handleOk(){
                var data = {
                    id: this.id,
                    title:this.title,
                    intro:this.intro,
                    content:this.content,
                    published:this.published
                }
                if(this.action == 'store')
                {
                    this.$root.$emit('addBlogPost',data);
                }else if(this.action=='update')
                {
                    this.$root.$emit('updateBlogPost',data);
                }

                this.clearForm();
            },
            clearForm(){
                this.title='';
                this.intro = '';
                this.content='';
                this.published = false;
                this.action = 'store';
            },
            initEditBlogPostModal()
            {
                this.$root.$on('loadBlogPost', (blogpost) => { // here you need to use the arrow function
                    this.id            = blogpost.data._id;
                    this.title         = blogpost.data.title;
                    this.intro         = blogpost.data.intro;
                    this.content       = blogpost.data.content;
                    this.published     = blogpost.data.published;
                    this.action        = 'update';
                });
            }


        },
        mounted: function(){
            this.initEditBlogPostModal();
        }

    }
</script>
